
body{
  /* text */
  font family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: normal;

  /* canvas */
  background-color: #aaa;
  background-image: none;

  /* spacing */
  margin: 0;
  padding: 10%, 20%, 300px 40%;
}
